
.main{
    width: 70%;
    height: 100vh;
    @include flex-col;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 15%;
    &__error-block
    {
        gap: 80px;
        margin: 0 20%;
        @include flex-row;
        width: 100%;
    }
    &__error-404
    {
        width: fit-content;
        @include flex-col;
        justify-content: center;
    }
    &__error-code{
        @include flex-row;
        justify-content: center;
        @include Roboto-font(500, 200px);
        color: $accent-color;
        gap: 20px;
        span:nth-of-type(1){
            animation: floatLetter 1s infinite cubic-bezier(.4,0,.6,1);
            animation-delay: 0.2;
        }
        span:nth-of-type(2){
            animation: floatLetter 1s infinite cubic-bezier(.4,0,.6,1);
            animation-delay: 0.6s;
        }
        &-airplane{
            width: 120px;
            height: 160px;
            border-radius: 40px;
            border: 16px solid $accent-color;
            background-image: url(../images/pictures/clouds.jpg);
            background-size: cover;
            background-repeat: repeat-x;
            animation: move-clouds 2000s linear infinite alternate, floatLetter 1s infinite cubic-bezier(.4,0,.6,1);
            animation-delay: 0.4s;
        }
    }
    &__error-info{
        justify-content: right;
        @include flex-col;
        width: fit-content;
        .heading {
            text-align: start;
        }
        &-text{
            @include Poppins-font(400, 28px);
            color: rgba(0, 0, 0, 0.337);
            margin-bottom: 36px;
        }

    }
    
    &__oops{
         @include Roboto-font(700, 100px);
         color: $accent-color;
         text-align: center;
    }
    a{
        gap: 20px;
        @include Poppins-font(600, 32px);
        color: $accent-color;
        img{
            width: 80px;
            transform: rotateZ(-90deg);
        }
        &:hover{
            color: darken($accent-color, 10% )
        }
    }
    @media (max-width: 1140px) {
        .main{
            &__error-block{
                gap: 0px;
            }
            
            &__error-404{
                .main__error-code{
                    @include Roboto-font(500, 140px);
                    gap: 10px;
                    &-airplane{
                        width: 80px;
                        height: 120px;
                        border-radius: 30px;
                        border: 12px solid $accent-color;
                    }
                }
            }

            &__error-info{
                scale: 0.6;
            }
            &__oops{
                font-size: 60px;
            }
        }
        
    }
    @media (max-width: 768px) {
        .main{
            &__error-block{
                gap: 0px;
                justify-content: space-between;
            }
            
            &__error-404{
                .main__error-code{
                    @include Roboto-font(500, 80px);
                    gap: 6px;
                    &-airplane{
                        width: 40px;
                        height: 60px;
                        border-radius: 15px;
                        border: 8px solid $accent-color;
                    }
                }
            }

            &__error-info{
                a{
                   font-size: 16px;
                   img{
                    width: 30px;
                   }
                }
                &-text{
                    font-size: 16px;
                }
            }
            &__oops{
                font-size: 40px;
            }
            .heading{
                font-size: 20px;
            }
            
        }
        
    }
    @media (max-width: 425px) {
        .main{
            &__error-block{
                gap: 0px;
                flex-direction: column;
                align-items: center;
            }
            
            &__error-404{
                .main__error-code{
                    @include Roboto-font(500, 80px);
                    gap: 6px;
                    &-airplane{
                        width: 40px;
                        height: 60px;
                        border-radius: 15px;
                        border: 8px solid $accent-color;
                    }
                }
            }

            &__error-info{
                a{
                   font-size: 16px;
                   img{
                    width: 30px;
                   }
                }
                &-text{
                    font-size: 16px;
                }
            }
            &__oops{
                font-size: 40px;
            }
            .heading{
                font-size: 20px;
            }
            
        }
        
    }
}