.footer
{
    padding: 50px 30px 0 30px;
    background-color: $accent-color;
    &__wrapper
    {
        @include flex-col;
        align-items: center;
    }
    &__logo-link
    {
        margin-bottom: 30px;
    }
    &__divider
    {
        margin-bottom: 17px
    }
    &__end-block
    {
        @include flex-row;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 15px;
    }
    &__rights
    {
        @include Poppins-font(400,14px);
        color: #FFFFFF70;
    }
    &__links-block
    {
        max-width: 315px;
        width: 100%;
        .footer__links
        {
            display: flex;
            padding: 0;
            margin: 0;
            list-style-type: none;
            list-style: none;
            @include Poppins-font(400,14px);
            
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            a{
                color: #FFFFFF70;
            }
        }
    }
}


@media (max-width: 768px) {
    .footer__wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__logo-link svg {
        width: 120px;
        height: auto;
    }
    .footer__links-block .footer__links {
        flex-direction: column;
        gap: 10px;
        align-items: center; 
        width: fit-content;
    }
    .footer__rights{
        align-self: center;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footer__wrapper {
        gap: 20px;
    }

    .footer__logo-link svg {
        width: 100px;
    }

}