@keyframes floatText {
    0% {
        transform: translateY(-2px);
        
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-2px);
    }
}
@keyframes sideShake {
    0% {
        transform: translateX(0px);
        
    }
    50% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes letterMove {
    0% {
        letter-spacing: 0px;
    }
    50% {
        letter-spacing: 0.4px;
    }
    100% {
        letter-spacing: 0px;
    }
}
@keyframes floatLetter {
    0% {
        transform: translateY(-10px);
        
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes move-clouds {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100000px 0; 
    }
}